@mixin droid {
  font-family: "Droid Sans", Arial, sans-serif;
}

@mixin background-gradient($a, $b) {
  background-image: -webkit-linear-gradient(top, $a, $b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $a), color-stop(1, $b));
  background-image: -moz-linear-gradient(top, $a, $b);
  background-image: -o-linear-gradient(top, $a, $b);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=$a, EndColorStr=$b)";
  background-image: linear-gradient(top, $a, $b);
}

@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin bar {
  background-color: #222;
  @include background-gradient(#333, #222);
  @include box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.1));
}

@mixin button($color: #ffffff) {
  cursor: pointer;
  text-decoration: none;

  background-color: darken($color, 10%);
  border: 1px solid darken($color, 20%);
  border-bottom-color: darken($color, 27%);

  padding: 10px;

  font-size: 13px;
  font-weight: 400;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);

  $shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  @include box-shadow($shadow);
  @include border-radius(5px);
  @include background-gradient($color, darken($color, 10%));

  &:hover {
    text-decoration: none;
    $shadow: 1px 1px darken($color, 25%), 2px 2px darken($color, 25%);
    @include box-shadow($shadow);
  }

  &:focus {
    outline: 1px dotted #666;
  }

  &:active {
    $shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    @include box-shadow($shadow);
  }
}

body, div, h3, a, span, ul, li {
  margin: 0px;
  padding: 0px;
  @include droid;
}

#blank-stream { display: none; }
#blank-score  { display: none; }
#meta { display: none; }

div#stream-scores {
  ul {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    color: #eee;
    padding-left: 5px;
    li + li {
      padding-top: 20px;
    }

    li {
      list-style: none;
      width: 100%;
      div.match-info {
        float: left;
        width: 40px;
        font-size: 18px;

        .mn.P { color: #aaa; }
        .mn.Q { color: #ccc; }
        .mn.E { color: #eee; }
        .co { font-style: italic; }
      }

      div.match-teams {
        float: left;
        div { padding: 0px 10px; }
        .rs, .bs, .b, .f, .t, .h { font-weight: bold; }
        .blue-alliance, .bb, .bf, .bh, .bto { color: #39f; }
        .red-alliance, .rb, .rf, .rh, .rto { color: #f00; }

        .red-alliance {
          float: left;
          width: 50px;
        }
        .blue-alliance {
          float: left;
          width: 50px;
        }
        .bridge, .fouls, .hybrid, .teleop {
          float: left;
          width: 50px;
        }
      }
    }
  }
}

.stream {
  .stream-controls {
    height: 30px;
    padding-top: 10px;
    display: table;
    a {
      display: table-cell;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

div#header {
  position: fixed;
  display: table;
  padding-left: 10px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 35px;
  color: #eee;
  @include bar;

  h3 {
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 300;
    a {
      color: #eee;
    }
  }
}

$base: #f9f9f9;
#sidebar {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 200px;
  height: 90%;
  z-index: 3;

  &:hover {
    #stream-list ul li span.sidebar-event-code { display: table-cell; }
  }

  #stream-list {
    height: 100%;

    > ul {
      #toggle-sidebar {
        font-size: 18px;
      }

      li {
        list-style: none;
        cursor: pointer;
        border-right: 1px solid #ddd;
        background-color: lighten($base, 5%);
        height: 25px;
        font-size: 16px;
        border-top: 1px solid #ddd;
        display: table;
        padding-left: 10px;
        span {
          width: 200px;
          display: table-cell;
          vertical-align: middle;

          &.sidebar-event-code {
            font-size: 70%;
            display: none;
          }
        }

        ul {
          display: none;
          position: absolute;
          left: 200px;
          li {
            width: 200px;
            display: table;
            cursor: pointer;
            a {
              display: table-cell;
              vertical-align: middle;
              text-decoration: none;
              color: #000;
            }
          }
        }

        &:hover {
          ul { display: block; }
        }

        &:nth-child(odd) {
          background-color: $base;
        }

        &:first-child {
          border-bottom: 1px solid #ddd;
        }

        &:last-child {
          @include border-radius(0px 0px 5px 0px);
          border-bottom: 1px solid #ddd;
        }

        &.toggle-stream:hover {
          background-color: darken($base, 8%);
        }
      }
    }
  }
}

.ui-dialog {
  background-color: #333;
  padding: 1px;
  @include border-radius(5px);

  .inner-title {
    color: #eee;
  }

  .ui-dialog-titlebar {
    height: 25px;
    width: 100%;
    @include bar;
    @include border-radius(5px);

    span, .chatbutton {
      margin-top: 2px;
    }

    .chatbutton, select {
      margin-left: 5px;
    }

    .chatbutton a {
      color: #eee;
    }

    .inner-title, .title-controls, select, .chatbutton, .unlocked, .locked {
      float: left;
    }

    .inner-title { padding-left: 10px; }

    .unlocked { background: url(../images/unlocked.gif) no-repeat center center; }
    .locked   { background: url(../images/locked.gif)   no-repeat center center; }

    span.ui-dialog-title {
      color: #eee;
    }

    .unlocked, .locked {
      position: absolute;
      right: 40px;
      margin-top: 4px;
      width: 20px;
      height: 20px;
    }

    a.ui-dialog-titlebar-close {
      span { display: none; }
      position: absolute;
      right: 20px;
      height: 25px;
      width: 15px;
      background: url(../images/close.png) no-repeat center center;
    }
  }

  .ui-dialog-content {
    a {
      color: #eee;
    }
  }

  .ui-resizable-se {
    cursor: se-resize;
    width: 100%;
    height: 13px;
    bottom: 3px;
    background: url(../images/resize.png) no-repeat right bottom;
  }
}

#footer-help {
  position: fixed;
  bottom: 0px;
  padding: 20px;
}

.meta {
  display: none;
}
